name: Profile Summary Cards

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate cards
        uses: vn7n24fzkq/github-profile-summary-cards@release
        with:
          USERNAME: VersaNexusIX
          BRANCH_NAME: main
          UTC_OFFSET: 7
          AUTO_PUSH: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}